.logoBox{
    display: inline-block;
    width: 3vw;
    height: 3vw;
    border-radius: 1vw;
    margin-right: 10px;
}
.headLeft{
    display: flex;
    align-items: center;
}
.webName{
    font-size: 1.5vw;
}